#back{
    font-family:"Times New Roman",Georgia,Serif;
    font-weight: bold;
    display: block;
    width: 5%;
    height: 100%;
    border-style: none;
    background-color: #333;
    color: white;
    float: left;
}
#up{
    font-family:"Times New Roman",Georgia,Serif;
    font-weight: bold;
    display: block;
    width: 5%;
    height: 100%;
    border-style: none;
    background-color: #333;
    color: white;
    float: right;
}
#navigation{
    width: 100%;
    height: 50px;
    background-color: #333;
}

#back:hover, #up:hover{
    background-color: rgb(79, 76, 81);
}

/* button{
    width: 50%;
    height: 50%;
    background-image: url(../img/back.jpg);
    border-style: none;
} */

#wb{
    display: inline-flex;
    width: 100%;
    height: 1000px;
}
body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}


