#back{
    border-radius: 10px;
    display: block;
    background-color: gray;
    text-align: center;
    width: 100px;
    height: 40px;
    float: left;
}
#before{
    border-radius: 10px;
    display: block;
    background-color: gray;
    text-align: center;
    width: 100px;
    height: 40px;
    float: right;
}
/* #main{
    overflow-y: scroll;
} */

#back:hover, #before:hover, #disappear:hover{
    background-color: aqua;
}


#wb{
    display: inline-flex;
    width: 100%;
    height: 1000px;
}
body{
    height: 100%;
    width: 100%;
}

#alert{
    display: none;
    width: 100%;
    height: 40px;
    text-align: center;
    color: red;
    font-size: 35px;
}

#disappear{
    border-radius: 10px;
    display: none;
    background-color: gray;
    text-align: center;
    width: 100px;
    height: 40px;
    float: right;
}
