#package_box {
    /* width: 800px; */
    height: 60px;
    margin: 5px 5px 20px 20px;
    border-radius: 10px;
    background-color: rgb(77, 159, 235);
}
/* This is for the text in the box */
#box_text {
    line-height: 20px; 
    margin-top: 10px;
    margin: 20px 20px 15px 15px;
    font-size: 20px;
}

#download_bottom {
    /* box-shadow: 0 2px; */
    border-radius: 5px;
    line-height: 20px; 
    margin-top: 10px;
    margin: 20px 20px 15px 15px;
    font-size: 15px;
    color: rgb(67, 32, 99);
    background-color: rgb(174, 143, 245);
}

#download_bottom:active {
    background-color: aqua;
    opacity: 0.8;
}

#search_package {
    /* /* text-align: center; */
	background-color: #fff;
	border-radius: 10px;
	width: 150px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 4%;
	transform: translate(-50%,-50%);
    margin-bottom: 50px;
}

#btn {
    padding-left:4px;
    border-radius: 10px;
	width: 70px;
    text-align: center;
    line-height: 30px;
	height: 30px;
    font-size: 16px;
	background-color: rgb(125, 109, 214);
    color: #fff;
    position: absolute;
	top: 4%; 
    margin-left: 40px;
    left: 60%;
	transform: translate(-50%,-50%);
    /* margin: 10px 10px 10px 10px; */
}

#btn:active {
    background-color: rgb(202, 159, 243);
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.left_btn {
    position: absolute;
    /* top: 50%; */
    font-weight: 200;
    color: #111;
    left: 0;
    opacity: 0.2;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding-left: 3px;
    /* 将鼠标样式改为小手 */
    cursor: pointer;
    border-radius: 10px;
}

