#package_box {
    /* width: 800px; */
    height: 60px;
    margin: 5px 5px 20px 20px;
    border-radius: 10px;
    background-color: rgb(77, 159, 235);
}

/* This is for the text in the box */
#box_text {
    line-height: 20px; 
    margin-top: 10px;
    margin: 20px 20px 15px 15px;
    font-size: 20px;
}

#download_bottom {
    /* box-shadow: 0 2px; */
    border-radius: 5px;
    line-height: 20px; 
    margin-top: 10px;
    margin: 20px 20px 15px 15px;
    font-size: 15px;
    color: rgb(67, 32, 99);
    background-color: rgb(174, 143, 245);
}

#download_bottom:active {
    background-color: aqua;
    opacity: 0.8;
}