.picture{
    position: relative;
    margin: auto;
    max-height: 100px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 50% !important;
    left: 250px;
    background-color: #ffffff !important;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.main{
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: white;
}

#title{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

#phoneNum, #username{
    position: relative;
    margin: auto;
    opacity: 0.7 !important;
    background-color: rgba(33, 33, 33, 0.28) !important;
    width: 400px;
    color: black;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    border-radius: 50rem !important;
    border: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}

#pwd, #pwdAgain{
    position: relative;
    margin: auto;
    opacity: 0.7 !important;
    background-color: rgba(33, 33, 33, 0.28) !important;
    width: 150px;
    color: black;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    border-radius: 50rem !important;
    border: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
}
#pwd{
    left: 12%;
}

#pwdAgain{
    left: 16%;
}

#login{
    position: relative;
    margin: auto;
    width: 30%;
    display: inline-block;
    color: #ffffff;
    background-color: rgb(65, 175, 219);
    border-color: #ffffff;
    cursor: pointer;
    border-radius: 2rem;
    outline: none !important;
    vertical-align: middle;
    opacity: 0.9 !important;
    font-weight: 500 !important;
    padding-left: 3.75rem !important;
    padding-right: 3.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
}

#register{
    position: relative;
    margin: auto;
    width: 77%;
    display: inline-block;
    color: #ffffff;
    background-color: rgb(65, 175, 219);
    border-color: #ffffff;
    cursor: pointer;
    border-radius: 2rem;
    outline: none !important;
    vertical-align: middle;
    opacity: 0.9 !important;
    font-weight: 500 !important;
    padding-left: 3.75rem !important;
    padding-right: 3.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
}

#login:hover, #register:hover{
    background-color: rgb(104, 98, 98);
}

#or{
    font-size: 1rem;
    margin: 0.75rem !important;
    box-sizing: border-box;
    text-align: center !important;
    line-height: 1.5;
    color: black;
}

#spanPlace{
    opacity: 0.7 !important;
    margin-right: 1rem !important;
    text-align: center !important;
    font-size: 12px !important;
    font-weight: 400;
    font-family: Poppins, Helvetica, "sans-serif";
    line-height: 1.5;
}
#aPlace{
    font-weight: 500 !important;
    text-align: center !important;
    font-size: 12px !important;
    font-family: Poppins, Helvetica, "sans-serif";
    line-height: 1.5;
}
#answer{
    text-align: center;
}

.alert{
    text-align: center;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
    display: none;
    font-family: Poppins, Helvetica, "sans-serif";
}