.picture{
    position: relative;
    margin: auto;
    max-height: 100px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 50% !important;
    left: 250px;
    background-color: #ffffff !important;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}
#main{
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: white;
}

#updateButton{
    width: 200px;
    height: 50px;
    background-color: rgb(65, 175, 219);
    border-color: rgb(65, 175, 219);
    cursor: pointer;
    border-radius: 2rem;
    outline: none !important;
    vertical-align: middle;
    opacity: 0.9 !important;
    font-weight: 500 !important;
    padding-left: 3.75rem !important;
    padding-right: 3.75rem !important;
    padding-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
}

#updateButton:hover{
    background-color: #213ed2;
}

#updateButton:active {
  background-color: #2d1a79;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}